

 </div> 
 
 <script  type="text/JavaScript" >
    $(document).ready(function () {
        $('#enquiry_table').DataTable({
            responsive: true
        });
        
    });
</script>
 

</body>
</html>